html {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: $Roboto;
    font-size: 14px;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.buttons-list,
.products,
.footer-list,
.features,
.photos-list,
.team,
.media-icons,
.clients-list,
.footer-second-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section.third {
    padding-top: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section:last-child {
    padding-bottom: 94px;
}

.section__title {
    color: $DarkColor;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.section.people {
    background-color: $BackgroundLight;
}
