.div-form {
    margin-left: auto;
}

.footer-form__icon {
    fill: blue;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.footer-form__button {
    width: 200px;
    height: 50px;
    background-color: $AccentColor;
    color: $PrimaryLight;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer
}

.footer-form__title {
    font-family: $Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $PrimaryLight;
    margin-bottom: 20px;
}

.footer-form input {
    padding: 15px;
    width: 358px;
    height: 50px;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
    background-color: transparent;
    border: 1px solid #FFFFFF4D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
}

.footer-form__input {
    display: flex;
}
